<div class="wrapper">
	<header>
		<div class="inner_warpper">
			<div class="hed_left">
				Service Order Schedular

			</div>
			<div class="hed_right">
				<ul>
					<li class="clander">


						<input type="text" class="form-control" #dp="bsDatepicker" (bsValueChange)="onDateChange($event)"
							bsDatepicker [bsValue]="startDate">


					</li>
					<li>
						<select (change)="onCalendarSelectChage($event.target.value)" class="form-control">
							<option [attr.selected]="option.defualt ? true : null" [id]="option.id" [value]="option.id"
								*ngFor="let option of zoomInZoomOutArray">{{ option.value}}
							</option>


						</select>
					</li>
					<li class="tooltip"><button (click)="openModal()"><i class="fas fa-plus"></i></button>
						<span class="tooltiptext">Add</span>
					</li>
					<!-- <li class="tooltip"><button class="org_bg"><i class="fas fa-sync"></i></button>
						<span class="tooltiptext">Reloads Grid</span>
					</li> -->
					<li class="tooltip"><button (click)="reoladDatabase()" class="red_bg"><i class="fas fa-recycle"></i></button>
						<span class="tooltiptext">Reloads database</span>
					</li>
					<li class="tooltip"><button (click)="fullScreen(fullScreenWindow)"><i class="fas fa-arrows-alt"></i></button>
						<span class="tooltiptext">Fullscreen</span>
					</li>
					<!-- <li class="tooltip"><button><i class="fas fa-info"></i></button>
						<span class="tooltiptext">click to show info</span>
					</li> -->
					<li class="tooltip"><button id="{{zoomOut}}" [disabled]="zoomOut > zoomInZoomOutArray.length-1 "
							(click)="onChangeZoomInZoomOut('zout',zoomOut)"><i class="fas fa-search-minus"></i></button>
						<span class="tooltiptext">Zoomout</span>
					</li>
					<li class="tooltip"><button id="{{zoomIn}}" [disabled]="zoomIn <= -1"
							(click)="onChangeZoomInZoomOut('zin',zoomIn)"><i class="fas fa-search-plus"></i></button>
						<span class="tooltiptext">Zoomin</span>
					</li>
				</ul>
			</div>
		</div>

	</header>


	<app-calendar [techniciansArray]="technicianListArray" [resetSelectedEvent]="resetSelectedEvent"
		(eventSelect)="onEventSelect($event)" (eventDateChange)="onEventDateChange($event)"
		(dragEvent)="ondragDropEvent($event)" (eventUpdate)="onEventUpdate($event)" (addEventPopup)="openModal()"
		(eventDelete)="deleteEvent($event)" [date]="date" [calendarIndex]="calendarIndexArray"></app-calendar>
</div>

<div cdkDrag [config]="config" id="addEventModal" bsModal #addEventModal="bs-modal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="dialog-child-name">
	<div class="modal-dialog modal-lg" [style.left.px]="xInitial" [style.top.px]="yInitial">
		<div class="modal-content">
			<div class="modal-header" class="add-event-header">
				<h4 class="modal-title pull-left">{{eventPopupTitle}}</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="closeAddEventModalPopup()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="addEventForm" (ngSubmit)="addEvent()">
					<div class="tebt_event">
						<div class="row">
							<div class="col-md-3">
								<p class="form-label">SERVICE ORDER<span class="required">*</span></p>
							</div>
							<div class="col-md-2">
								<input
									[ngClass]="(addEventForm.get('service_order').hasError('required') && addEventForm.get('service_order').touched)?'input-red':''"
									maxlength="50" (keydown.space)="$event.preventDefault()" formControlName="service_order" type="text"
									placeholder="SERVICE ORDER">

							</div>
							<div class="col-md-6">
								<input
									[ngClass]="(addEventForm.get('task_name').hasError('required') && addEventForm.get('task_name').touched)?'input-red':''"
									maxlength="50" formControlName="task_name" type="text" placeholder="Name">

							</div>

						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-9" *ngIf="f.service_order.errors">
								<p class="text-danger" *ngIf="formSumbited && f.service_order.errors.required">Service order is required
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-9" *ngIf="f.task_name.errors">
								<p class="text-danger" *ngIf="formSumbited && f.task_name.errors.required">Task Name is required</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<p class="form-label">STATUS</p>
							</div>
							<div class="col-md-9">
								<select class="form-control" formControlName="status">
									<option value="{{order.id}}" *ngFor="let order of orderListArray; let i = index"
										[attr.selected]="i == 0 ? true : null" id="{{i}}">{{order.serviceOrderStatus}}
									</option>

								</select>
							</div>
						</div>
						<div class="row" *ngIf="!isDeleteButtonVisible">
							<div class="col-md-3">
								<p class="form-label">TENANT</p>
							</div>
							<div class="col-md-9">
								<select class="form-control" formControlName="eventId">
									<option value="{{tenant.id}}" *ngFor="let tenant of tenantArray; let i = index"
										[attr.selected]="i == 0 ? true : null">{{tenant.tenantName}}</option>

								</select>
							</div>
						</div>
						<div class="row" *ngIf="isDeleteButtonVisible">
							<div class="col-md-3">
								<p class="form-label">TENANT</p>
							</div>
							<div class="col-md-9">
								<input [attr.disabled]="isDeleteButtonVisible ? '' : null" readonly maxlength="50"
									[value]="selectedEvent['tenantName']" type="text" placeholder="Name">

							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<p class="form-label">TECHNICIAN</p>
							</div>
							<div class="col-md-9">
								<select class="form-control" formControlName="emp_id">
									<option value="{{resouce.empId}}" *ngFor="let resouce of technicianListArray; let i = index"
										id="{{i}}">
										{{resouce.empName}}</option>
								</select>
							</div>
						</div>



						<div class="row">
							<div class="col-md-3">
								<p class="form-label">START</p>
							</div>
							<div class="col-md-9">
								<table class="datetimepicpop">
									<tr>
										<td>
											<div class='input-group date' id='datetimepicker2'>
												<input (bsValueChange)="onStartDateChange($event)" type="text" class="form-control mb-3"
													[bsConfig]="{ adaptivePosition: true }" placeholder="Datepicker" bsDatepicker
													formControlName="start_date" />
											</div>
										</td>
										<td>

											<div class='input-group date' id='datetimepicker3'>
												<timepicker (ngModelChange)="onStartTimeChange($event)" formControlName="start_time">
												</timepicker>
											</div>

										</td>
									</tr>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<p class="form-label">END</p>
							</div>
							<div class="col-md-9">
								<table class="datetimepicpop">
									<tr>
										<td>
											<div class='input-group date' id='datetimepicker2'>
												<input type="text" class="form-control mb-3" [bsConfig]="{ adaptivePosition: true }"
													placeholder="Datepicker" bsDatepicker formControlName="end_date" />

											</div>
										</td>
										<td>

											<div class='input-group date' id='datetimepicker4'>
												<timepicker [min]="minFormEndDate" formControlName="end_time"></timepicker>
											</div>

										</td>
									</tr>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<ul class="btnlist">
									<li *ngIf="isDeleteButtonVisible"><button type="button" (click)="deleteEvent(eventFormArray.eventId);$event.preventDefault();"
											class="red_btn">DELETE</button></li>
									<li style="float: right;"> <button class="green_btn">SAVE</button></li>
									<li style="float: right;"><button (click)="closeAddEventModalPopup()">CANCEL</button></li>
								</ul>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<ngx-spinner></ngx-spinner>