body {
  font-size: 14px;
  color: #737373;
  overflow: hidden;
}

.wrapper {
  float: left;
  width: 100%;
}

.inner_warpper {
  max-width: 96%;
  margin: 0 auto;
}

header {
  background: #000;
  padding: 25px 0;
  color: #fff;
  float: left;
  width: 100%;
}

.hed_left {
  float: left;
  width: 30%;
  font-size: 25px;
  font-weight: bold;
}

.hed_right {
  float: right;
  width: 70%;
}

.hed_right li {
  display: inline-block;
  margin: 0 2px;
}

.hed_right ul {
  float: right;
}

.hed_right button {
  background: #3183fe;
  padding: 7px 10px;
  min-width: 40px;
  border: none;
  border-radius: 3px;
}

.hed_right button:focus {
  border: none;
  outline: none;
}

.org_bg {
  background: #feac31 !important;
}

.red_bg {
  background: #e53f2c !important;
}

.hed_right .form-control {
  min-width: 150px;
}

.hed_right .form-control option {
  padding: 7px;
}

.add-modal-header {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: 1px solid #feac31;
  background-color: #fff5e6;
}

.bs-chevron-up {
  top: 6px !important;
}
.bs-chevron-down {
  top: -6px !important;
}
#addEventModal .modal-dialog {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 40% !important;
}
#addEventModal .modal-body {
  background: #f8f9fb;
}
.calendar-container {
  width: 300px;
  overflow-x: scroll;
}

.calendar-container .fc-view > table {
  width: 500px;
}
.fc-license-message {
  display: none;
}

/*temprory css for color*/

/*temprory css for color*/
/* Open */
.status-1 {
  background-color:#ff0000 !important;
  /* border-color: #fea013; */
}
/* Dispatched */
.status-2 {
  background-color: #0000FF !important;
  /* border-color: #13fea0; */
}
/* .Started */
.status-3 {
  background-color: #00933E !important;
  /* border-color: #fea013; */
}
/* .Temporary Repair  */
.status-4 {
  background-color: #27CA88 !important;
  /* border-color: #fea013; */
}

/* .Incomplete */
.status-5 {
  background-color: #FF7200 !important;
  /* border-color: #fea013; */
}
/* .Complete */
.status-6 {
  background-color: #3276b1 !important;
  /* border-color: #fea013; */
}
/* .Pending Approval  */
.status-7 {
  background-color: #57889c !important;
  /* border-color: #fea013; */
}

/* .Closed  */
.status-8 {
  background-color: #900323 !important;
  /* border-color: #fea013; */
}
/* .Canceled  */
.status-9 {
  background-color: #a90329 !important;
  /* border-color: #fea013; */
}
/* .On Hold  */
.status-10 {
  background-color: #c79121 !important;
  /* border-color: #fea013; */
}
/* .Scheduled  */
.status-11 {
  background-color: #820782 !important;
}

.fc-time-area .fc-event-container .fc-event {
  margin: 5px;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  padding-left: 5px;
}
.fc-toolbar.fc-header-toolbar {
  display: none !important;
}

.tech-profile-image {
  height: 40px;
  width: 40px;
  margin-right: 7px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.acti_notac {
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 3px;
  right: 7px;
}

.pro_pic {
  width: 47px;
  position: relative;
  height: 40px;
}

.custom-cls {
  display: inline-flex;
}

.left-tech-name {
	color: #737373;
	font-weight: bolder;
}









.tooltipevent{
  max-width: 15%;/*  
  height:100px;*/
  /* background:#ccc; */
  position:absolute;
  z-index:10001;
  transform:translate3d(-50%,-100%,0);
  font-size: 0.8rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  /* line-height: 1rem; */
  background-color: #81818c;
  color: white;
  border-radius: 5px;

} 
.tooltipevent div{
  font-size: 1em;
    line-height: 1.4em;
    padding: 7px;
}
.tooltipevent div:first-child{
  font-weight:bold;

}
.tooltipevent div:nth-child(2){
  margin-top: -10px;

  
}
.tooltipevent div:nth-child(3){
  margin-top: -10px;
}
.tooltipevent div:nth-child(4){
  margin-top: -10px;
}
.tooltipevent div:first-child{
  font-weight:bold;
  
}.tooltipevent div:first-child{
  font-weight:bold;
  
}
.tooltipevent div:last-child{
  position:relative;
  margin-top: -10px;

}
.tooltipevent div:last-child::after, .tooltipevent div:last-child::before{
  width:0;
  height:0;
  border:solid 5px transparent;/*
  box-shadow: 1px 1px 2px 0px #888888;*/
  /* border-bottom:0; */
  /* border-top-color:whitesmoke; */
  position: absolute;
  display: block;
  content: "";
  bottom:-7px;
  left:50%;
  transform:translateX(-50%);
}
.tooltipevent div:last-child::before{
  border-top-color:white;
  bottom:-7px;
}

.contextMenuItem {
  display: block;
}

.ngx-contextmenu li a:hover {
  text-decoration: none;
}

.ngx-contextmenu span {
  border-top: 2px solid  #C0C0C0;
}
.ngx-contextmenu span:first-child {
  border-top:none;
}

.fc-title {
  min-width: 100%;
}

.event-show {
  display: inline-flex;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.event-icon {
  background-color: gray;
  font-size: 18px;
  margin-right: 10px;
  padding: 10px;
  margin-left: -61px;
  position: absolute;
  height: 34px;
  margin-top: -3px;
}

.fc-timeline-event .fc-time, .fc-timeline-event .fc-title {
  overflow: visible !important;
}